<!DOCTYPE html>
<html>
<head>
<title>PhotoShop!</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
</head>
<body>


<div class="container">

    <h1>PhotoShop! <small>Turn any photograph into a shop.</small></h1>    
    <p>Inspired by <a href="http://www.telegraph.co.uk/technology/mobile-phones/8601147/Tesco-builds-virtual-shops-for-Korean-commuters.html">Tesco's South Korean Mobile Experiment</a></a></p>

    <form enctype="multipart/form-data" method="POST" action="">
        <fieldset>
            <legend>Shop with PhotoShop</legend>
        </fieldset>
        <div class="clearfix">
            {{ form }}
        </div>
        <div class="actions">
        	<input type="submit" class="btn primary" value="PhotoShop!" />
        	<button type="reset" class="btn">Cancel</button>
    	</div>
    </form>
    
    <h3>Buying with PhotoShop!</h3>
    <ol>
        <li>Download the PhotoShop app, or browse to the PhotoShop! website.</li>
        <li>Take a picture of the item you want to buy and PhotoShop! it.</li>
        <li>Purchase and enjoy!</li>
    </ol>
    
    <h3>Selling with PhotoShop!</h3>
    <ol>
        <li>Create a Shopify Store.</li>
        <li>Upload your items to Shopify and product images to TinEye.</li>
        <li>Profit.</li>
    </ol>
    
    <h3>APIs Used</h3>
    <ul>
        <li><a href="//tineye.com/">TinEye</a> - for reverse image search</li>
        <li><a href="//shopify.com/">Shopify</a> - for the <a href="http://stamm-sipes9292.myshopify.com/">test store</a></li>
    </ul>
    
    <h3>The PhotoShop Team</h3>
    <ul>
        <li>Jimmy Ho</li>
        <li>Naoya Makino</li>
        <li>Jon Wiersma</li>
        <li>John Boxall</li>
    </ul>
    

</div>


</body>
</html>